/*Fondos*/

.imagenes {
  width: 360px;
  height: 390px;
  object-fit: cover;
}

.fondoImagen {
  background-image: url(https://thumbs.dreamstime.com/b/pared-abstracta-negra-textura-oscura-del-cemento-como-fondo-92152003.jpg);
}

.fondoImagen2 {
  background-image: url(https://image.freepik.com/foto-gratis/textura-marmol-negro-natural-papel-tapiz-azulejos-piel_24076-470.jpg);
}